@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Raleway');

* { 
    margin: 0;
    padding: 0;
}

/* navigation bar */

.navigation-bar {
    display: block;
    overflow: hidden;
}

.nav-bar-list { 
    background-color: white;
    list-style-type: none;
    top: 0;
    position: fixed;
    width: 100%;
    height: 90px;
}

.navigation-bar li { 
    float: right;
}

.navigation-bar li a {
    float: right;
    color: black;
    font-family: karla;
    font-size: 110%;
    text-align: center;
    padding: 34px 10px;
    margin-right: 30px;
    text-decoration: none;
}

.navigation-bar li a:hover {
    color: #ffbb00;;
    cursor: pointer;
}

#logo { 
    float: left;
    position: absolute;
    top: 0;
    margin: 0;
}

#logo img {
    width: 55px;
    height: 65px;
    overflow: hidden;
    padding: 20px 30px;
    cursor: pointer;
}

/* text */

body { 
    margin-left: 0;
    z-index: -1;
    background: white;
    padding: 30px 0px;
}

.page-title { 
	color:#8360c3;
    font-size: 300%; 
    font-family: montserrat;
    display: block;
    text-align: center;
    position: relative;
    text-decoration: underline;
    z-index: -1;
}

.body-text { 
    color: black;
    font-size: 168%; 
    font-family: karla;
    margin: 0 auto;
    display: block;
    text-align: center;
    position: relative;
    z-index: -1;
}

/* project tiles */

.project-tiles {
    overflow: hidden;
    display: inline-block;
    margin-top: -450px;
    margin-left: 82px;
    z-index: -1;
}

.project-tiles li{
    position: relative;
    list-style-type: none;
    width: 300px;
    height: 300px;
    padding: 5px;
    float: left;
    visibility: hidden;
}

.project-tiles li * {
    position: absolute;
    visibility: visible;
}

.project-tiles li > div {
    width: 300px;
    height: 300px;
    text-align: center;
    color: white;
    overflow: hidden;
}

/* text on hexagons */
.project-tiles li img {
    width: 300px; 
    height: 300px;
    left: -100%;  
    right: -100%; 
    margin: 0 auto;   
}

.project-tiles div h1, 
.project-tiles div p{
    width: 100%;
    /* padding: 0 5%; */
    background-color:  rgba(131, 96, 195, 0.85); 
    font-family: karla;
    -webkit-transition: top 0.4s ease-out, bottom 0.4s ease-out;
    -moz-transition: top 0.4s ease-out, bottom 0.4s ease-out;
    transition: top 0.4s ease-out, bottom 0.4s ease-out;
}

.project-tiles li h1{
    bottom: 110%;
    font-style: italic;
    font-weight: normal;
    font-size: 200%;
    padding-top: 100%;
    padding-bottom: 100%;
}

.project-tiles li h1:after{
  content: '';
  display: block;
  position: absolute;
  bottom: -1px; 
  left: 40%;
  width: 20%;
  text-align: center;
  border-bottom: 2px solid white;
}

.project-tiles li p {
	/* padding-top: 100%; */
	top: 100%;
    padding-bottom: 50%;
    font-size: 125%;
}

/* hexagon hover */

.project-tiles li div:hover h1 {
  bottom: 50%;
  padding-bottom: 25%;
}

.project-tiles li div:hover p {
  top: 50%;
  padding-top: 10%;
}

/* hexagon links */

.project-tiles a {  
    margin-top: -32px;
    margin-left: -60px;
    margin-right: 50px;
    margin-bottom: 180px;
}

.project-tiles a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.project-tiles a:visited {
    color: white;
    background-color: transparent;
}

.project-tiles a:hover {
    color: black; 
     /* #2ebf91; */
    background-color: transparent;
    text-decoration: none;
}


